.player-img {
  background-color: rgba($color: #393939, $alpha: 0.5);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  right: 0;

  img {
    width: 80px;
  }

  span {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

}

.active-player {
  background-color: #B7235D !important;
}
