.card {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #B7235D;
  color: white;
  height: 150px;
  width: 500px;
  border-radius: 80px;
  
  .content {
    margin-top: 16px;
  }

}


